h1{
    color: red;
}

@media screen and (max-width: 500px){
    h1{
        color: blue;
    }
}

p{
    color: #00ff1a;
    background: #930404;
}

@media screen and (min-width: 800px){
    p{
        color: rgb(9, 205, 159);
        background: #FFF;
    }
}

h3{
    display: none;
}

@media screen and (orientation: landscape) and (max-width: 800px){
    h3{
        display: block;
    }
}